<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <SCMUrl>https://webapplication120260908162508-h5cya3hja8chhcbu.scm.eastus-01.azurewebsites.net/</SCMUrl>
    <ContainerResourceId>/subscriptions/{subscriptionId}/resourceGroups/Development/providers/Microsoft.ContainerRegistry/registries/development120260908161132</ContainerResourceId>
    <ContainerResourceName>development120260908161132</ContainerResourceName>
    <Subscription>Visual Studio Professional</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>development120260908161132.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/{subscriptionId}/resourcegroups/Development/providers/Microsoft.Web/sites/WebApplication120260908162508</ResourceId>
    <ResourceGroup>Development</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://webapplication120260908162508-h5cya3hja8chhcbu.eastus-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>758f9857-2cba-4913-8f86-4561141e8167</ProjectGuid>
  </PropertyGroup>
</Project>