<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/{subscriptionId}/resourceGroups/Development/providers/Microsoft.ContainerRegistry/registries/development120260908161132</ResourceId>
    <ResourceName>development120260908161132</ResourceName>
    <ResourceGroup>Development</ResourceGroup>
    <Subscription>Visual Studio Professional</Subscription>
    <RegistryUrl>https://development120260908161132.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>0428be98-ac06-785c-fa3e-5a685dee2653</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>